@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-background {
  background-image: url("../../public/design-cut-left.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  background-position: top;
}

.content-div-home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  background-position: top;
}


.background-contact {
  background-image: url("../../public/contact-bg-logo1-flipped.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.background-about {
  background-image: url("../../public/About.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

.contact-img {
  object-position: center
}

.custom-services {
  background-image: url("../../public/forest-services.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.gray-diagonal-up {
  position: relative;
  top: 50px;
  height: 100px; /* Adjust the height according to your needs */
  background-color: #F5F5F5; /* Replace with your desired background color */
  transform: skewY(-3.5deg); /* Adjust the degree of skewing as needed */
  position: 500px 400px;
}