@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-background {
  background-image: url("../../public/design-cut-left.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  background-position: top;
}

.background-contact {
  background-image: url("../../public/contacttt.png");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  height: 100vh;
}

.background-about {
  background-image: url("../../public/about-cover.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contact-img {
  object-position: center
}

.custom-services {
  background-image: url("../../public/servicesCover.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}